<div class="row">
{{#each movies}}
	<div class="col l3 m4 s6">
		<div class="card hoverable">
			<div class="card-image">
				<img src="{{poster_path}}" alt="{{title}}">
				<span value="1" class="card-title">{{title}}</span>
			</div>
			<div id="{{id}}"class="card-content">
				{{#each cast}}
					<p>{{name}}</p>
				{{/each}}
				{{release_date}}
			</div>
			<div class="card-action addTracked">
				<a class="add-to-watchlist-btn">Add to Watchlist</a>
				<div class="rating">
					<span value="1" class="star 1">☆</span><span value="2" class="star 2">☆</span><span value="3" class="star 3">☆</span><span value="4" class="star 4">☆</span><span value="5" class="star 5">☆</span><span value="6" class="star 6">☆</span><span value="7" class="star 7">☆</span><span value="8" class="star 8">☆</span><span value="9" class="star 9">☆</span><span value="10" class="star 10">☆</span>
				</div>
			</div>
			<div class="card-action deleteCard">
				<a class="delete-card-btn">Delete</a>
			</div>
		</div>
	</div>
{{/each}}
</div>